* {
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
}

body {
    margin:0;
}

.shapka {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #F5F5F6;
}

.nav {
    display: flex;
    list-style: none;
}

.nav li {
    margin-right: 25px;
}

.nav li:first-child {
    color: black;
}

.nav li a {
    text-decoration: none;
    color: #C6C6C6;
    font-size: 16px;
    line-height: 13px;
}

.enter-button {
    font-size: 16px;
    border-radius: 4px;
    background-color: white;
    padding: 10px;
}

main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

.app-parent {
    display: flex;
    justify-content: space-around;
    width: 650px;
}

.left-block {
    width: 260px;
}

.i-have {
    color: #9F9F9F;
    font-size: 14px;
}

.drop-down {
    display: flex;
    list-style: none;
    padding-left: 0;
    border-radius: 3px;
    border: 1px solid #E5E5E5;
}

.top-cur {
    width: 51px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #E5E5E5; */
    color: #C6C6C6;
    font-size: 14px;
}

.list {
    width: 70px;
}

.select {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    justify-content: center;
    text-align: center;
    padding-left:7px;
    background-image: url("images/chevron-arrow-down.png");
    background-repeat: no-repeat;
    background-position-x: 39px;
    background-position-y: 5px;
    background-size: 20px;
    color: #C6C6C6;
    font-size: 14px;
}

.top-cur:hover {
    cursor: pointer;
    background: #833AE0;
    color: white;
}

.selected-from-cur {
    background-color: #833AE0;
    color: white;
}

.selected-to-cur {
    background-color: #833AE0;
    color: white;
}

.right-block {
    width: 260px;
}

.calculation-box {
    border-radius: 3px;
}

.calculation-box div {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #C6C6C6;
}

.input-number {
    font-size: 20px;
    font-weight: 900;
    height: 40px;
    width: 220px;
    border: none;
    margin-left:16px;
    /* border-radius: 3px; */
}

.central-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-arrows:hover {
    cursor: pointer;
}

.transfer:hover {
    width: 50px;
    height: 40px;
}

.chart-div {
    margin: 0 auto;
    width: 700px;
    height: 360px;
    margin-top: 30px;
}

.loading-parent {
    width: 100%;
    height: 100%;
    position: absolute;
    display:none;
    background-color: rgba(0,0,0,0.5);
}

.loading-child {
    position: absolute;
    top: 40%;
    left: 44%;
    font-size: 40px;
    width: 200px;
    height: 70px;
    background-color: white;
    text-align: center;
    padding-top: 8px;
    border-radius: 3px;
}